<div class="container mt-5">
  <h2 class="text-center mb-4">Listado de Productos</h2>
  <div class="text-right mt-4">
    <button class="btn btn-success" (click)="addNewProduct()">Agregar Nuevo Producto</button>
  </div>

  <div *ngIf="products$ | async as response; else loading" class="row mt-4">
    <div class="col-md-4 mb-4" *ngFor="let product of response.value">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">{{ product.description }}</p>
          <p class="card-text">Precio: {{ product.price | currency:'USD':'symbol':'1.2-2' }}</p>
          <div class="d-flex justify-content-between">
            <!-- Botón para Agregar al Carrito con Popover -->
            <button class="btn btn-primary btn-sm"
                    (click)="addToCart(product)"
                    data-bs-toggle="popover"
                    title="Agregar al Carrito"
                    data-bs-content="Añade este producto al carrito de compras"
                    placement="top"><i class="fas fa-shopping-cart"></i>
            </button>

            <!-- Botón para Eliminar con Popover -->
            <button class="btn btn-danger btn-sm"
                    (click)="deleteProduct(product.id)"
                    data-bs-toggle="popover"
                    title="Eliminar"
                    data-bs-content="Eliminar este producto"
                    placement="top"><i class="fas fa-trash-alt"></i>
            </button>

            <!-- Botón para Actualizar con Popover -->
            <button class="btn btn-warning btn-sm"
                    (click)="updateProduct(product.id)"
                    data-bs-toggle="popover"
                    title="Actualizar"
                    data-bs-content="Actualizar la información del producto"
                    placement="top"> <i class="fas fa-edit"></i>
            </button>
          </div>


        </div>
      </div>
    </div>
  </div>

  <ng-template #loading>
    <div class="text-center">
      <div class="spinner-border" role="status">
        <span class="sr-only">Cargando...</span>
      </div>
      <p>Cargando productos...</p>
    </div>
  </ng-template>


</div>
